################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Release
/obj
/MonitorExchanges.csproj.user
/MonitorExchanges.bak
